html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  color: #222;
}

a {
  color: blue;
}
